In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("./train.csv", usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])

In [6]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d